body {
    background: #8ecae6;
    color: #023047;
    text-align: center;
 /*   background-image: url("bang.jpeg") */

}
button {
    background-color: #ffb703;
    border-radius: 50%;
    border: 2px solid #219ebc;
    color: #023047;
    font-size: 24px;
    padding: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #fb8500;
}

.hidden {
    display: none;
  }

img {

}